<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Class Based</h1>
        <a href="{% url 'profile' %}"> Profile</a>
    </div>
    <div>
        <h1>functionbased</h1>
        <a href="{% url 'book_list' %}">Book List</a>
    </div>
    <div>
        <h1>Genric based</h1>
        <a href="{% url 'book_list' %}">Book List</a>
    </div>
    <div>
        <h1>API</h1>
        <a href="{% url 'product_list' %}">Product List</a>
    </div>
    <div>
        <h1>form exmple</h1>
        <a href="{% url 'contact' %}"></a>
    </div>

</body>
</html>